# Should be formatted as https://<hostname> or http://<ip>:<port>
HOST="https://demo.romm.app"
USERNAME="demo"
PASSWORD="demo"
DEFAULT_SD_CARD=1

# Can be one of genre, franchise, collection, mode or company
COLLECTION_TYPE=collection

# Do not display platforms with these slugs (comma separated)
# EXCLUDE_PLATFORMS=""

# Only display collections with these names (comma separated)
# INCLUDE_COLLECTIONS=""

# Do not display collections with these names (comma separated)
# EXCLUDE_COLLECTIONS=""

# Force use this path for Roms
# ROMS_STORAGE_PATH=""

# Use this path for Saves
# SAVES_STORAGE_PATH=""
# 0: Directly in the path / 1: Use Core name subfolder / 2: Use platform name subfolder (Knulli) / 3: Use content path (with the rom, ignore saves path)
# SAVES_STORAGE_FOLDER=1

# Use this path for States
# STATES_STORAGE_PATH=""
# 0: Directly in the path / 1: Use Core name subfolder / 2: Use platform name subfolder (Knulli) / 3: Use content path (with the rom, ignore states path)
# STATES_STORAGE_FOLDER=1

# Map RomM slugs to filesystem directories
# For example, if your PlayStation directory is called "psx":
# CUSTOM_MAPS='{"ps": "psx"}'
# CUSTOM_MAPS=''
